body {
    background: #818181;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #242526;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.name {
    font-size: 25px;
    color: #C0C0C0;
    text-decoration: none;
    font-weight: 600;
}

.navigation {
    font-size: 20px;
    color: #404040;
    font-weight: 500;
    margin-left: 30px;
}

.navigation a { 
    font-size: 18px;
    color: #ffffff; /* Set the color to white targetting <a> elements */
    text-decoration: none; /* remove underline */
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navigation a:hover
.navigation a.active {
    color: #192734;
}

.home {
    height: 30vh;
    display: flex;
    align-items: center;
    padding: 0 0 0 10%;
}

.home-content h1 {
    margin-right: 25px;
    font-size: 45px;
    font-weight: 700;  
    line-height: 1.2;
}

.home-content h3 {
    font-size: 25px;
    font-weight: 700;
    color: #fffffb;
}

.home-content p {
    font-size: 18px;
    margin: 5px 0 10px;
}

.home-content {
    justify-content: space-between;
    width: 625px;
    height: 1vh;
    background: #818181;
}

.buttonbox {
    display: none;
}

.btn {
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 150px;
    background: #818181;
    border: 2px solid #98e7f9; 
    font-size: 18px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color 2s ease;
}

.btn:hover {
    background-color: #98e7f9;
}

.dropLinks {
    display: none;
    flex-direction: column;
    height: 75px;
}

.buttonbox:checked + .btn + .dropLinks {
    display: flex;
    flex-direction: column;
}

#imageofme {
    display: flex;
    width: 450px;
    height: auto;
}

.home img {
    position: absolute;
    top: 60px;
    right: 50px;
    transform: translateX(20px) translateY(20px);
    margin-left: 20px;
    margin-top: 20px;
  }

.github-link {
    display: inline-flex;
}