body {
    background: #818181;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background: #242526;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.name {
    font-size: 25px;
    color: #C0C0C0;
    text-decoration: none;
    font-weight: 600;
}

.navigation {
    font-size: 20px;
    color: #404040;
    font-weight: 500;
    margin-left: 30px;
}
.navlink {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}

.navigation a { 
    font-size: 18px;
    color: #ffffff; /* Set the color to white targetting <a> elements */
    text-decoration: none; /* remove underline */
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navigation a:hover
.navigation a.active {
    color: #192734;
}

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 0 0 20%;
}

#about {
    padding-top: 70px;
}

#contact {
    padding-top: 70px;
}

#portfolio {
    padding-top: 70px;
}

.home-content h1 {
    margin: 0;
    margin-right: 1px;
    font-size: 45px;
    font-weight: 700;  
    line-height: 1.2;
}

.home-content h3 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    color: #fffffb;
}

.home-content p {
    font-size: 18px;
    margin: 5px 0 10px;
    text-align: center;
}

.home-content {
    height: auto;
    background: #818181;
    align-items: center;
    padding: 0 20% 0 20%;
    text-align: center;
}

.buttonbox {
    display: none;
}

.btn {
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 150px;
    background: #818181;
    border: 2px solid #98e7f9; 
    font-size: 18px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color 2s ease;
}

.btn:hover {
    background-color: #98e7f9;
}

.dropLinks {
    display: none;
    flex-direction: column;
    height: 75px;
}

.buttonbox:checked + .btn + .dropLinks {
    display: flex;
    flex-direction: column;
}

#imageofme {
    display: flex;
    align-items: center;
    width: 900px;
    height: auto;
}

.github-link {
    text-align: center;
}

#firstapp {
    width: 550px;
    height: auto;
}



/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
    .header {
        padding: 10px 5%;
    }
    
    .name {
        font-size: 20px;
    }
    
    .navigation {
        font-size: 16px;
        margin-left: 20px;
    }
    
    .home {
        flex-direction: column;
        padding: 0 5%;
    }
    
    .home-content {
        width: 100%;
        max-width: 600px; 
        margin-top: 80px;
    }
    
    .home-content h1 {
        font-size: 30px;
    }
    
    .home-content h3 {
        font-size: 20px;
    }
    
    .home-content p {
        font-size: 16px;
    }
    
    .buttonbox {
        display: inline-block; 
    }
    
    .btn {
        width: auto;
    }
    
    .dropLinks {
        height: auto; 
    }
    
    #imageofme {
        width: 40%; 
        margin-top: 240px;
    
    }
    
    .home img {
        order: 1;
        width: 100%;
        transform: none;
        margin-top: 20px;
    }
}